[Unit]
Description=Owncloud Podman compose
Documentation=man:podman-generate-systemd(1)
Wants=network-online.target
After=network-online.target
RequiresMountsFor=/run/user/1000/containers

[Service]
Environment=PODMAN_SYSTEMD_UNIT=%n
Restart=on-failure
TimeoutStopSec=70
RemainAfterExit=yes
ExecStart=/bin/bash -c "podman compose -f /ssd/Portainer/Templates/owncloud/docker-compose.yml up --detach"
ExecStop=/bin/bash -c "podman compose -f /ssd/Portainer/Templates/owncloud/docker-compose.yml stop"
Type=forking

[Install]
WantedBy=multi-user.target
